big5 = 		sys.tab.$(BIG5ENC) \
		array30.tab.$(BIG5ENC) \
		bims_pinyin.tab.$(BIG5ENC) \
		cj.tab.$(BIG5ENC) \
		ez.tab.$(BIG5ENC) \
		phone.tab.$(BIG5ENC) \
		pinyin.tab.$(BIG5ENC) \
		pinyin0.tab.$(BIG5ENC) \
		simplex.tab.$(BIG5ENC) \
		jyutping.tab.$(BIG5ENC) \
		jyutping0.tab.$(BIG5ENC) \
		telecode.tab.$(BIG5ENC)

big5hkscs =	sys.tab.$(BIG5HKENC) \
		array30.tab.$(BIG5HKENC) \
		bims_pinyin.tab.$(BIG5HKENC) \
		cj.tab.$(BIG5HKENC) \
		ez.tab.$(BIG5HKENC) \
		phone.tab.$(BIG5HKENC) \
		pinyin.tab.$(BIG5HKENC) \
		simplex.tab.$(BIG5HKENC) \
		jyutping.tab.$(BIG5HKENC) \
		jyutping0.tab.$(BIG5HKENC) \
		telecode.tab.$(BIG5HKENC)

include Makefile

make-big5: $(big5) 

make-big5hkscs: $(big5hkscs)


sys.tab.$(BIG5ENC): sys.cin.big5
	$(build) -r $(xcinrc) -l $(BIG5ENC) -o $@ sys.cin.big5
array30.tab.$(BIG5ENC): array30.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ array30.cin
bims_pinyin.tab.$(BIG5ENC): bims_pinyin.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ bims_pinyin.cin
cj.tab.$(BIG5ENC): cj.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ cj.cin
ez.tab.$(BIG5ENC): ez.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ cj.cin
phone.tab.$(BIG5ENC): phone.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ phone.cin
pinyin.tab.$(BIG5ENC): pinyin.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ pinyin.cin
pinyin0.tab.$(BIG5ENC): pinyin0.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ pinyin0.cin
simplex.tab.$(BIG5ENC): simplex.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ simplex.cin
jyutping.tab.$(BIG5ENC): jyutping.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ jyutping.cin
jyutping0.tab.$(BIG5ENC): jyutping0.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ jyutping0.cin
telecode.tab.$(BIG5ENC): telecode.cin sys.tab.$(BIG5ENC)
	$(build) -r $(xcinrc) -l $(BIG5ENC) \
		-s sys.tab.$(BIG5ENC) -o $@ telecode.cin

sys.tab.$(BIG5HKENC): sys.cin.big5hkscs
	$(build) -r $(xcinrc) -l $(BIG5HKENC) -o $@ sys.cin.big5hkscs
array30.tab.$(BIG5HKENC): array30.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ array30.cin
bims_pinyin.tab.$(BIG5HKENC): bims_pinyin.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ bims_pinyin.cin
cj.tab.$(BIG5HKENC): cj.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ cj.cin
ez.tab.$(BIG5HKENC): ez.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ cj.cin
phone.tab.$(BIG5HKENC): phone.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ phone.cin
pinyin.tab.$(BIG5HKENC): pinyin.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ pinyin.cin
simplex.tab.$(BIG5HKENC): simplex.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ simplex.cin
jyutping.tab.$(BIG5HKENC): jyutping.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ jyutping.cin
jyutping0.tab.$(BIG5HKENC): jyutping0.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ jyutping0.cin
telecode.tab.$(BIG5HKENC): telecode.cin sys.tab.$(BIG5HKENC)
	$(build) -r $(xcinrc) -l $(BIG5HKENC) \
		-s sys.tab.$(BIG5HKENC) -o $@ telecode.cin


install_big5:
	if [ ! -d $(xcin_datap)/$(BIG5ENC) ]; then \
	  $(INSTALL) -d $(xcin_datap)/$(BIG5ENC); fi
	for f in $(big5) default.phr; do \
	  ff=`basename $$f .$(BIG5ENC)`; \
	  $(INSTALL_DATA) $$f $(xcin_datap)/$(BIG5ENC)/$$ff; done

install_big5hkscs:
	if [ ! -d $(xcin_datap)/$(BIG5HKENC) ]; then \
	  $(INSTALL) -d $(xcin_datap)/$(BIG5HKENC); fi
	for f in $(big5hkscs) default.phr; do \
	  ff=`basename $$f .$(BIG5HKENC)`; \
	  $(INSTALL_DATA) $$f $(xcin_datap)/$(BIG5HKENC)/$$ff; done

